@page
@model RazorPagesClubRanking.Pages.ClubRanking.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ClubRanking</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ClubRanking.Club" class="control-label"></label>
                <input asp-for="ClubRanking.Club" class="form-control" />
                <span asp-validation-for="ClubRanking.Club" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClubRanking.ReleaseDate" class="control-label"></label>
                <input asp-for="ClubRanking.ReleaseDate" class="form-control" />
                <span asp-validation-for="ClubRanking.ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClubRanking.Name" class="control-label"></label>
                <input asp-for="ClubRanking.Name" class="form-control" />
                <span asp-validation-for="ClubRanking.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClubRanking.Rank" class="control-label"></label>
                <input asp-for="ClubRanking.Rank" class="form-control" />
                <span asp-validation-for="ClubRanking.Rank" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
